<head><title>about</title></title></head>
{%extends "layout.html"%}
{%block content%}


<div class="container mt-3">
        
        <div class="media">
          <img src="static/image/vincent.png " style="width:200px; height:200px; class="align-self-start mr-3" style="width:60px">
          <div class="media-body">
              <h4><b>Vincent Tetteh</b></h4>
            <p>A student of Ho Technical University</p>
            <p>I am part of Global Code 2019 Summer Programme at Ho Technical University</p>
            <p>Email: vincentchrisbone@gmail.com</p>
            <p>Mobile: 0542880528</p>
          </div>
        </div>
      <br><br>
        <!-- Media middle -->
    <br>
      <br>
        <div class="media mt-3">
          <img src="static/image/emma.png" style="width:200px; height:200px;" class="align-self-center mr-3" style="width:60px">
          <div class="media-body">
              <h4><b>Emmanuel Bonsu</b></h4>
            <p>A student of Ho Technical University<br>I am part of Global Code 2019 Summer Programme at Ho Technical University</p>
            <p>Email: despitegfx@gmail.com</p>
            <p>Mobile: 0246938074</p>
          </div>
         </div>
      
</div>

          
{% endblock content%}