{%extends "layout.html"%}
{%block content%}

<div class="container">
    <div id="">
        <h1 align="center"><marquee>NEWS! NEWS!! NEWS!!!</marquee></h1>
        <dl>
        <dt><strong>&nbsp;&nbsp;&nbsp;Minister of Sanitation</strong></dt>
        <dd>
        The Minister of Sanitation and Water Resources in collobration with the World Bank is organising a natioanl competition that invites innovative ideas that use digital technology approaches to solve sanitation challenges.<br>
        <a href="#">Read more...</a>
        </dd>
        </dl>
        <hr>
        
        <dl>
        <dt><strong>&nbsp;&nbsp;&nbsp;Two Students Arrested</strong></dt>
        <dd>
        Two students of Ho Technical University have been arrested by the police Ho, Volta Region of Ghana for suspecting the murderer of one deceased,  Mr. Fosu of 29years who sadly killed on the 20th of October, 2018 at Ho Technical University Area around 12:35am by gun men.<br>
        <a href="#">Read more...</a>
        </dd>
        </dl>
        <hr>
        
        <dl>
        <dt><strong>&nbsp;&nbsp;&nbsp;New Jam (STD)</strong></dt>
        <dd>
        The sensational artiste, hit maker of Most Original which featured the most well knoww international dance hall artist Sean Paul and multi Award winner both international and local has come brand new banger and I'm sure is going to be hit.<br>
        <a href="#">Read more...</a>
        </dd>
        </dl>
            
                
    </div>


<div >
<img src="static/image/happiness.jpg" alt="youtube" class="col-lg-8 col-md-8 col-xm-8"><br><br>
<h1 class="primary center">Global Code</h1>
</div>

</div>
{% endblock content%}